.u-mr-1 {
	margin-right: 0.5rem;
}
.u-mr-2 {
	margin-right: 1rem;
}
.u-mr-3 {
	margin-right: 1.5rem;
}
.u-mr-4 {
	margin-right: 2rem;
}
.u-mr-5 {
	margin-right: 2.5rem;
}
.u-ml-1 {
	margin-left: 0.5rem;
}
.u-ml-2 {
	margin-left: 1rem;
}
