.row::after {
	content: '';
	clear: both;
	display: table;
}

[class*='col-'] {
	float: left;
	padding: 15px;
}

@media only screen and (min-width: 600px) {
	.g-col-1 {
		width: 8.33%;
	}
	.g-col-2 {
		width: 16.66%;
	}
	.g-col-3 {
		width: 25%;
	}
	.g-col-4 {
		width: 33.33%;
	}
	.g-col-5 {
		width: 41.66%;
	}
	.g-col-6 {
		width: 50%;
	}
	.g-col-7 {
		width: 58.33%;
	}
	.g-col-8 {
		width: 66.66%;
	}
	.g-col-9 {
		width: 75%;
	}
	.g-col-10 {
		width: 83.33%;
	}
	.g-col-11 {
		width: 91.66%;
	}
	.g-col-12 {
		width: 100%;
	}
}

@media only screen and (min-width: 768px) {
	.g-col-md-1 {
		width: 8.33%;
	}
	.g-col-md-2 {
		width: 16.66%;
	}
	.g-col-md-3 {
		width: 25%;
	}
	.g-col-md-4 {
		width: 33.33%;
	}
	.g-col-md-5 {
		width: 41.66%;
	}
	.g-col-md-6 {
		width: 50%;
	}
	.g-col-md-7 {
		width: 58.33%;
	}
	.g-col-md-8 {
		width: 66.66%;
	}
	.g-col-md-9 {
		width: 75%;
	}
	.g-col-md-10 {
		width: 83.33%;
	}
	.g-col-md-11 {
		width: 91.66%;
	}
	.g-col-md-12 {
		width: 100%;
	}
}

@media only screen and (min-width: 992px) {
	.g-col-lg-1 {
		width: 8.33%;
	}
	.g-col-lg-2 {
		width: 16.66%;
	}
	.g-col-lg-3 {
		width: 25%;
	}
	.g-col-lg-4 {
		width: 33.33%;
	}
	.g-col-lg-5 {
		width: 41.66%;
	}
	.g-col-lg-6 {
		width: 50%;
	}
	.g-col-lg-7 {
		width: 58.33%;
	}
	.g-col-lg-8 {
		width: 66.66%;
	}
	.g-col-lg-9 {
		width: 75%;
	}
	.g-col-lg-10 {
		width: 83.33%;
	}
	.g-col-lg-11 {
		width: 91.66%;
	}
	.g-col-lg-12 {
		width: 100%;
	}
}
